In [31]:
x = 90

if x % 2 == 0:
    print(x, "is an even Number")
else:
    print(x, "is an odd Number")

90 is an even Number

In [32]:
x = int(input())

if x % 2 == 0:
    
    print(x, "is an even Number")
else:
    print(x, "is an odd Number")

45 is an odd Number

In [33]:
x = int(input('Age'))

if x > 18 and x < 50:
    print("Allowed")
else:
    print("Not Allowed")

Not Allowed

### programe to provide discount

In [34]:
shopping_amt = int(input())

if x >= 5000:
    print("You won voucther 1000")
elif x >= 2500:
    print("You won voucther 500")
else:
    print("Opps")

Opps

### Iterations

In [35]:
# Over a list of int

list1 = [1,23,4,5,6]

for i in list1:
    print(i)

1
23
4
5
6

In [36]:
# Over a list of string

str1 = "siam"

for i in str1:
    print(i)

s
i
a
m

In [37]:
# Over a list of Dictionary

stu = {1 : ["siam", 25], 2 : ["mh", 25], 3 : ["rr", 25], 4 : ["wd", 25], 5 : ["yy", 25]}

for i in stu.items():
    print(i)

(1, ['siam', 25])
(2, ['mh', 25])
(3, ['rr', 25])
(4, ['wd', 25])
(5, ['yy', 25])

In [38]:
# Over a list of Dictionary

stu = {1 : ["siam", 25], 2 : ["mh", 25], 3 : ["rr", 25], 4 : ["wd", 25], 5 : ["yy", 25]}

for i, j in stu.items():
    print(j)

['siam', 25]
['mh', 25]
['rr', 25]
['wd', 25]
['yy', 25]

In [39]:
stu = {1 : ["siam", 25], 2 : ["mh", 25], 3 : ["rr", 25], 4 : ["wd", 25], 5 : ["yy", 25]}

for i in stu.values():
    print(i)

['siam', 25]
['mh', 25]
['rr', 25]
['wd', 25]
['yy', 25]

In [40]:
# Over a range of values

for i in range(1,5):
    print(i)

1
2
3
4

## Comprehensions

In [41]:
lis1 = ["Automobile", "honda", "Benz", "maruti", "BMW"]

lis2 = []

for i in lis1:
    lis2.append(i)
    
print(lis2)

['Automobile', 'honda', 'Benz', 'maruti', 'BMW']

In [42]:
lis1 = ["Automobile", "honda", "Benz", "maruti", "BMW"]

lis2 = []

for i in lis1:
    lis2.append(len(i))
    
print(lis2)

[10, 5, 4, 6, 3]

In [43]:
lis1 = ["Automobile", "honda", "Benz", "maruti", "BMW"]

lis2 = [len(i) for i in lis1]

lis2

[10, 5, 4, 6, 3]

In [44]:
lis1 = ["Automobile", "honda", "Benz", "maruti", "BMW"]

d = {i : len(i) for i in lis1}

d

{'Automobile': 10, 'honda': 5, 'Benz': 4, 'maruti': 6, 'BMW': 3}

In [45]:
lis1 = ["Automobile", "honda", "Benz", "maruti", "BMW"]

d = {}

for i in lis1:
    d[i] = len(i)
d

{'Automobile': 10, 'honda': 5, 'Benz': 4, 'maruti': 6, 'BMW': 3}