In [1]:
t = (1,2,3,4)
type(t)

tuple

In [3]:
t2 = 1,2,3,4
type(t2)

tuple

In [2]:
t = ("hello", 1, 1.50)
t

('hello', 1, 1.5)

In [4]:
len(t)

3

In [7]:
t3 = ("hello", 1, 1.50, (1,2,3))
len(t3)

4

In [5]:
t1 = ("hello", 1, 1.50, [2,3,4])

In [6]:
v = t1[3]
type(v)

list

In [8]:
t1[3]

[2, 3, 4]

In [9]:
t1[3][1]

3

In [ ]:
t1[3][1] = 5
t1

('hello', 1, 1.5, [2, 5, 4])

In [ ]:
t1[1] = 2 # Not possible
t1

TypeError: 'tuple' object does not support item assignment

# Single Value Tuple

In [12]:
t1 = 1.2,
type(t1)

tuple

In [13]:
# This is not Tuple

t1 = 3
t5 = (7)
print(type(t1), type(t5))

<class 'int'> <class 'int'>

# Indexing in tuple

In [14]:
t = ("dhaka", 10, 'c', 100)

In [15]:
len(t)

4

In [16]:
t[2:]

('c', 100)

In [17]:
t[2:4]

('c', 100)

In [18]:
str1 = "HELLO WORLD"
str1[6:]

'WORLD'

In [19]:
t[0:2]

('dhaka', 10)

In [ ]:
# Slice Last two element
t[-2:]

('c', 100)

# Concatenation

In [21]:
tup1 = ("Wlcome", "to", "today")
tup2 = ("Python", "to", "Class")

In [22]:
tup3 = tup1 + tup2
tup3

('Wlcome', 'to', 'today', 'Python', 'to', 'Class')

# min, max, sum

In [23]:
t = (2,4,5,6)
sum(t)

17

In [24]:
max(t)

6

In [25]:
min(t)

2

# Sorting a tuple

In [26]:
t = (2,3,8,5,4,1)
new_var = sorted(t)
print(new_var)
type(new_var)

[1, 2, 3, 4, 5, 8]

list

In [27]:
new_list = sorted(t)
t2 = tuple(new_list)
type(t2)

tuple